.search-bar {
  background: white;
  border: 1px solid black;
  height: 50px;
  border-radius: 60px;
  width: 800px;

  display: flex;
  align-items: center;
}

.search-box {
  background: rgba(0, 0, 0, 0);
  border: 0;
  height: 100%;
  width: 750px;
  margin-left: 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.search-box:focus {
  outline: none;
}

.search-button {
  filter: brightness(30%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;

  background-image: url('../assets/searchbar.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  /* background-color: red; */

  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .search-bar {
    width: 500px;
  }

  .search-button {
    width: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .search-button {
    width: 60px;
  }
  .search-bar {
    width: 500px;
  }
}

/* Naviation  switches to mobile so there is more room for the search bar */

@media screen and (max-width: 850px) {
  .search-button {
    width: 60px;
  }
  .search-bar {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .search-button {
    width: 74px;
  }
  .search-bar {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .search-bar {
    width: 350px;
  }

  .search-button {
    width: 100px;
  }
}
