.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-page-results {
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

/* LOADING PAGE BLOCKS */

.product-page-result-loading {
  height: 2em;
  width: 40em;
  border-radius: 30px;
  margin: auto;
}

.product-loading {
  width: 200px;
  height: 420px;

  border-radius: 30px;
  margin: 2px;
}

@media screen and (max-width: 1000px) {
  .product-page-result-loading {
    width: 20em;
  }
}
