.add-button {
  font-size: large;
  border: 0;
  height: 3em;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 3em;
  font-weight: bold;
  background-color: #0071dd;
  color: white;
  cursor: pointer;
  margin: 10px;
  cursor: pointer;
}

.add-button-large {
  font-size: x-large;
  padding-right: 150px;
  padding-left: 150px;
}

.add-button:hover {
  background-color: #0c62b1;
}

@media screen and (max-width: 1000px) {
  .add-button {
    font-size: medium;
  }

  .add-button-large {
    font-size: x-large;
  }
}

@media screen and (max-width: 500px) {
  .add-button-large {
    padding-right: 50px;
    padding-left: 50px;
  }
}
