.nav {
  height: 120px;

  background: red;
}

.nav-container {
  background: yellow;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  background: white;
  border: 1px solid rgb(204, 204, 204);
  height: 50px;
  border-radius: 60px;
  width: 800px;

  display: flex;
  align-items: center;
}

.search-box {
  background: rgba(0, 0, 0, 0);
  border: 0;
  height: 100%;
  width: 750px;
  margin-left: 15px;

  font-size: medium;
}

.search-box:focus {
  outline: none;
}

.search-button {
  filter: brightness(30%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;

  background-image: url('../assets/searchbar.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  /* background-color: red; */

  cursor: pointer;
}

.price-plaza-title {
  margin-left: 5px;
  background: white;
}

.nav-icons {
  display: flex;
}
