.nav {
  height: 130px;
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 90px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.nav-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2000px;
}

.search-bar {
  background: white;
  border: 1px solid black;
  height: 50px;
  border-radius: 60px;
  width: 800px;

  display: flex;
  align-items: center;
}

.nav-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  width: 2000px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: blue;
  text-decoration: underline;
}

.search-box {
  background: rgba(0, 0, 0, 0);
  border: 0;
  height: 100%;
  width: 750px;
  margin-left: 15px;

  font-size: medium;
}

.search-box:focus {
  outline: none;
}

.search-button {
  filter: brightness(30%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;

  background-image: url('../assets/searchbar.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  /* background-color: red; */

  cursor: pointer;
}

.price-plaza-button {
  border: 0;
  cursor: pointer;
}

.price-plaza-title {
  margin-left: 5px;
  background: white;
}

.nav-icons {
  display: flex;
}
