.nav {
  height: 130px;
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 90px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.nav-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2000px;
}

.nav-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  width: 2000px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

  color: black;
}

.nav-link:hover {
  color: blue;
  text-decoration: underline;
}

.price-plaza-button {
  border: 0;
  cursor: pointer;
}

.price-plaza-title {
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;

  background: white;
}

.nav-icons {
  display: flex;
}

@media screen and (max-width: 2000px) {
  .nav-subcontainer {
    width: 1500px;
  }

  .nav-list {
    width: 1500px;
  }
}

@media screen and (max-width: 1500px) {
  .nav-subcontainer {
    width: 1000px;
  }

  .nav-list {
    width: 1000px;
  }

  .search-bar {
    width: 500px;
  }

  .search-button {
    width: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-list {
    width: 1000px;
  }
  .nav-subcontainer {
    width: 1000px;
  }

  .search-bar {
    width: 300px;
  }

  .price-plaza-title {
    font-size: large;
  }

  .search-button {
    width: 120px;
  }
}

@media screen and (max-width: 850px) {
  .nav {
    display: none;
  }
}
